.particle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  pointer-events: none;
  transition: opacity 0.3s ease;
  
  
  @media (max-width: 768px) {
    opacity: 0.2;
  }
  
  @media (max-width: 480px) {
    opacity: 0.15;
  }
}